<div class="widgets">
    <div *ngIf="c" class="row">
      <div class="col-lg-12">
        <ba-card title="Edit Kelurahan" baCardClass="with-scroll">
          <div class="form-group">
            <label>ID KELURAHAN</label>
            <input [(ngModel)]="c.id_kel" [disabled]="c.id_kel" class="form-control" type="text" >
          </div>
          <div class="form-group">
            <label>NAMA KELURAHAN</label>
            <input [(ngModel)]="c.nama_kelurahan" class="form-control" type="text" >
          </div>
          <div class="form-group">
            <label>ID KECAMATAN</label>
            <input [(ngModel)]="c.id_kec" class="form-control" type="text" >
          </div>
          <div class="form-group">
            <label>KODEPOS</label>
            <input [(ngModel)]="c.kodepos" class="form-control" type="text" >
          </div>
          <div class="form-group">
            <label>LONGITUDE</label>
            <input [(ngModel)]="c.longitude" class="form-control" type="text" >
          </div>
          <div class="form-group">
            <label>LATITUDE</label>
            <input [(ngModel)]="c.lattitude" class="form-control" type="text" >
          </div>
          <button (click)="simpan()" class="btn btn-primary">Simpan</button>  <button (click)="cancel()" class="btn btn-primary">Cancel</button>
        </ba-card>
      </div>
    </div>
    <div *ngIf="!c" class="row">
        <div class="col-lg-12">
            <ba-card title="Data Master Kelurahan" baCardClass="with-scroll table-panel">
              <div class="horizontal-scroll">
                <ng2-smart-table [settings]="settings" [source]="source" (create)="create($event)" (edit)="edit($event)" (delete)="delete($event)"></ng2-smart-table>
              </div>
            </ba-card>
        </div>
    </div>
</div>
