<div class="widgets">
    <div *ngIf="c" class="row">
      <div class="col-lg-12">
        <ba-card title="Edit Jenis Rekening" baCardClass="with-scroll">
          <div class="form-group">
            <label>ID KABUPATEN</label>
            <input [ngModel]="c.id_kab" [disabled]="c.id_kab" class="form-control" type="text" >
          </div>
          <div class="form-group">
            <label>ID PROPINSI</label>
            <input [(ngModel)]="c.id_prop" class="form-control" type="text" >
          </div>
          <div class="form-group">
            <label>KAB</label>
            <input [(ngModel)]="c.kab" class="form-control" type="text" >
          </div>
          <div class="form-group">
            <label>NAMA KABUPATEN</label>
            <input [(ngModel)]="c.nama_kabupaten" class="form-control" type="text" >
          </div>
          <div class="form-group">
            <label>IBUKOTA</label>
            <input [(ngModel)]="c.ibukota" class="form-control" type="text" >
          </div>
          <button (click)="simpan()" class="btn btn-primary">Simpan</button>  <button (click)="cancel()" class="btn btn-primary">Cancel</button>
        </ba-card>
      </div>
    </div>
    <div *ngIf="!c" class="row">
        <div class="col-lg-12">
            <ba-card title="Data Master Kabupaten" baCardClass="with-scroll table-panel">
              <div class="horizontal-scroll">
                <ng2-smart-table [settings]="settings" [source]="source" (create)="create($event)" (edit)="edit($event)" (delete)="delete($event)"></ng2-smart-table>
              </div>
            </ba-card>
        </div>
    </div>
</div>
