<div class="widgets">
    <div *ngIf="c" class="row">
      <div class="col-lg-12">
        <ba-card title="{{action}} Sub Buku Besar" baCardClass="with-scroll">
          <div class="form-group">
            <label>ACC Buku Besar</label>
            <input [(ngModel)]="c.accbb" disabled class="form-control" type="text" >
          </div>
          <div class="form-group">
            <label>Buku Besar</label>
            <input [(ngModel)]="c.acc" disabled class="form-control" type="text" >
          </div>
          <div class="form-group">
            <label>Keterangan</label>
            <input [(ngModel)]="c.keterangan" class="form-control" type="text" >
          </div>
          <div class="form-group">
            <label>Golongan</label>
            <input [(ngModel)]="c.golongan" class="form-control" type="text" >
          </div>
          <button (click)="simpan()" class="btn btn-primary">Simpan</button>  <button (click)="cancel()" class="btn btn-primary">Cancel</button>
        </ba-card>
      </div>
    </div>
    <div *ngIf="!c" class="row">
        <div class="col-lg-12">
            <ba-card title="Data Sub Buku Besar" baCardClass="with-scroll table-panel">
              <div class="horizontal-scroll">
                <ng2-smart-table [settings]="settings" [source]="source" (create)="create($event)" (edit)="edit($event)" (delete)="delete($event)"></ng2-smart-table>
              </div>
            </ba-card>
        </div>
    </div>
</div>
