<div class="widgets">
    <div *ngIf="c" class="row">
      <div class="col-lg-12">
        <ba-card title="{{action}} Regional" baCardClass="with-scroll">
          <div class="form-group">
            <label>ID REGIONAL</label>
            <input [ngModel]="c.idreg" [disabled]="c.idreg" disabled class="form-control" type="text" >
          </div>
          <div class="form-group">
            <label>ID PROPINSI</label>
            <input [(ngModel)]="c.nama_regional" class="form-control" type="text" >
          </div>
          <div class="form-group">
            <label>NAMA KORDINATOR</label>
            <input [(ngModel)]="c.nama_koordinator" class="form-control" type="text" >
          </div>
          <div class="form-group">
            <label>TELEPON</label>
            <input [(ngModel)]="c.telepon" class="form-control" type="text" >
          </div>
          <div class="form-group">
            <label>E-MAIL</label>
            <input [(ngModel)]="c.e_mail" class="form-control" type="text" >
          </div>
          <button (click)="simpan()" class="btn btn-primary">Simpan</button>  <button (click)="cancel()" class="btn btn-primary">Cancel</button>
        </ba-card>
      </div>
    </div>
    <div *ngIf="!c" class="row">
        <div class="col-lg-12">
            <ba-card title="Data Master Regional" baCardClass="with-scroll table-panel">
              <div class="horizontal-scroll">
                <ng2-smart-table [settings]="settings" [source]="source" (create)="create($event)" (edit)="edit($event)" (delete)="delete($event)"></ng2-smart-table>
              </div>
            </ba-card>
        </div>
    </div>
</div>
