<div class="widgets">
  <div class="row">
    <div class="col-lg-12">
      <ba-card title="Create New Instance" baCardClass="with-scroll">
        <form class="form-horizontal">
          <div class="col-lg-6">
            <div class="form-group row">
              <label for="account" class="col-sm-4 form-control-label">Master Account</label>
              <div *ngIf="!account" class="col-sm-8">
                <input #fileUpload class="form-control" id="account" type="file" (change)="onAccount($event)">
                <span class="help-block sub-little-text">File Data Master Account </span>
              </div>
              <div *ngIf="account" class="col-sm-8">
                <div class="alert alert-success">
                  Data Berhasil di Proses <button (click)="removeAccount($event)" class="btn btn-danger pull-right">Ubah Data</button>
                </div>
              </div>
            </div>
            <div class="form-group row">
              <label for="anggota" class="col-sm-4 form-control-label">Master Anggota</label>
              <div *ngIf="!anggota" class="col-sm-8">
                <input  #fileUpload class="form-control" id="anggota" type="file" (change)="onAnggota($event)">
                <span class="help-block sub-little-text">File Data Master Anggota </span>
              </div>
              <div *ngIf="anggota" class="col-sm-8">
                <div class="alert alert-success">
                  Data Berhasil di Proses <button (click)="removeAnggota($event)" class="btn btn-danger pull-right">Ubah Data</button>
                </div>
              </div>
            </div>
            <div class="form-group row">
              <label for="jenissimp" class="col-sm-4 form-control-label">Jenis Simpanan</label>
              <div *ngIf="!jenissimpanan" class="col-sm-8">
                <input  #fileUpload class="form-control" id="jenissimp" type="file" (change)="onJenisSimpanan($event)">
                <span class="help-block sub-little-text">File Data Master Jenis Simpanan </span>
              </div>
              <div *ngIf="jenissimpanan" class="col-sm-8">
                <div class="alert alert-success">
                  Data Berhasil di Proses <button (click)="removeJenisSimpanan()" class="btn btn-danger pull-right">Ubah Data</button>
                </div>
              </div>
            </div>
            <div [hidden]="!jenissimpanan" class="form-group row">
              <label for="simpanan" class="col-sm-4 form-control-label">Master Simpanan</label>
              <div *ngIf="!simpanan" class="col-sm-8">
                <input #fileUpload class="form-control" id="simpanan" type="file" (change)="onSimpanan($event)">
                <span class="help-block sub-little-text">File Data Master Simpanan </span>
              </div>
              <div *ngIf="simpanan" class="col-sm-8">
                <div class="alert alert-success">
                  Data Berhasil di Proses <button (click)="removeSimpanan()" class="btn btn-danger pull-right">Ubah Data</button>
                </div>
              </div>

            </div>
            <div class="form-group row">
              <label for="jenishut" class="col-sm-4 form-control-label">Jenis Hutang</label>
              <div *ngIf="!jenishutang" class="col-sm-8">
                <input #fileUpload class="form-control" id="jenishut" type="file" (change)="onJenisHutang($event)">
                <span class="help-block sub-little-text">File Data Master Jenis Hutang </span>
              </div>
              <div *ngIf="jenishutang" class="col-sm-8">
                <div class="alert alert-success">
                  Data Berhasil di Proses <button (click)="removeJenisHutang()" class="btn btn-danger pull-right">Ubah Data</button>
                </div>
              </div>

            </div>
            <div [hidden]="!jenishutang" class="form-group row">
              <label for="hutang" class="col-sm-4 form-control-label">Master Hutang</label>
              <div *ngIf="!hutang" class="col-sm-8">
                <input #fileUpload class="form-control" id="hutang" type="file" (change)="onHutang($event)">
                <span class="help-block sub-little-text">File Data Master Hutang</span>
              </div>
              <div *ngIf="hutang" class="col-sm-8">
                <div class="alert alert-success">
                  Data Berhasil di Proses <button (click)="removeHutang()" class="btn btn-danger pull-right">Ubah Data</button>
                </div>
              </div>
            </div>
            <div class="form-group row">
              <label for="jenispinj" class="col-sm-4 form-control-label">Jenis Pinjaman</label>
              <div *ngIf="!jenispinjaman" class="col-sm-8">
                <input #fileUpload class="form-control" id="jenispinj" type="file" (change)="onJenisPiutang($event)">
                <span class="help-block sub-little-text">File Data Master Jenis Pinjaman</span>
              </div>
              <div *ngIf="jenispinjaman" class="col-sm-8">
                <div class="alert alert-success">
                  Data Berhasil di Proses <button (click)="removeJenisPinjaman()" class="btn btn-danger pull-right">Ubah Data</button>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-6">
            <div [hidden]="!jenispinjaman" class="form-group row">
              <label for="piutang" class="col-sm-4 form-control-label">Master Pinjaman</label>
              <div *ngIf="!pinjaman" class="col-sm-8">
                <input #fileUpload class="form-control" id="piutang" type="file" (change)="onPiutang($event)">
                <span class="help-block sub-little-text">File Data Master Pinjaman</span>
              </div>
              <div *ngIf="pinjaman" class="col-sm-8">
                <div class="alert alert-success">
                  Data Berhasil di Proses <button (click)="removePinjaman()" class="btn btn-danger pull-right">Ubah Data</button>
                </div>
              </div>
            </div>
            <div class="form-group row">
              <label for="jenisinv" class="col-sm-4 form-control-label">Jenis Inventaris</label>
              <div *ngIf="!jenisinventaris" class="col-sm-8">
                <input #fileUpload class="form-control" id="jenisinv" type="file" (change)="onJenisInventaris($event)">
                <span class="help-block sub-little-text">File Data Master Jenis Inventaris </span>
              </div>
              <div *ngIf="jenisinventaris" class="col-sm-8">
                <div class="alert alert-success">
                  Data Berhasil di Proses <button (click)="removeJenisInventaris()" class="btn btn-danger pull-right">Ubah Data</button>
                </div>
              </div>
            </div>
            <div [hidden]="!jenisinventaris" class="form-group row">
              <label for="inventaris" class="col-sm-4 form-control-label">Master Inventaris</label>
              <div *ngIf="!inventaris" class="col-sm-8">
                <input #fileUpload class="form-control" id="inventaris" type="file" (change)="onInventaris($event)">
                <span class="help-block sub-little-text">File Data Master Inventaris</span>
              </div>
              <div *ngIf="inventaris" class="col-sm-8">
                <div class="alert alert-success">
                  Data Berhasil di Proses <button (click)="removeInventaris()" class="btn btn-danger pull-right">Ubah Data</button>
                </div>
              </div>
            </div>
            <div class="form-group row">
              <label for="jenisdeposito" class="col-sm-4 form-control-label">Jenis Deposito</label>
              <div *ngIf="!jenisdeposito" class="col-sm-8">
                <input #fileUpload class="form-control" id="jenisdeposito" type="file" (change)="onJenisDeposito($event)">
                <span class="help-block sub-little-text">File Data Master Jenis Deposito</span>
              </div>
              <div *ngIf="jenisdeposito" class="col-sm-8">
                <div class="alert alert-success">
                  Data Berhasil di Proses <button (click)="removeJenisDeposito()" class="btn btn-danger pull-right">Ubah Data</button>
                </div>
              </div>
            </div>
            <div [hidden]="!jenisdeposito" class="form-group row">
              <label for="deposito" class="col-sm-4 form-control-label">Master Deposito</label>
              <div *ngIf="!deposito" class="col-sm-8">
                <input #fileUpload class="form-control" id="deposito" type="file" (change)="onDeposito($event)">
                <span class="help-block sub-little-text">File Data Master Deposito</span>
              </div>
              <div *ngIf="deposito" class="col-sm-8">
                <div class="alert alert-success">
                  Data Berhasil di Proses <button (click)="removeDeposito()" class="btn btn-danger pull-right">Ubah Data</button>
                </div>
              </div>
            </div>
            <div class="form-group row">
              <label for="jenistabungan" class="col-sm-4 form-control-label">Jenis Tabungan</label>
              <div *ngIf="!jenistabungan" class="col-sm-8">
                <input #fileUpload class="form-control" id="jenistabungan" type="file" (change)="onJenisTabungan($event)">
                <span class="help-block sub-little-text">File Data Master Jenis Tabungan</span>
              </div>
              <div *ngIf="jenistabungan" class="col-sm-8">
                <div class="alert alert-success">
                  Data Berhasil di Proses <button (click)="removeJenisTabungan()" class="btn btn-danger pull-right">Ubah Data</button>
                </div>
              </div>
            </div>
            <div [hidden]="!jenistabungan" class="form-group row">
              <label for="tabungan" class="col-sm-4 form-control-label">Master Tabungan</label>
              <div *ngIf="!tabungan" class="col-sm-8">
                <input #fileUpload class="form-control" id="tabungan" type="file" (change)="onTabungan($event)">
                <span class="help-block sub-little-text">File Data Master Tabungan</span>
              </div>
              <div *ngIf="tabungan" class="col-sm-8">
                <div class="alert alert-success">
                  Data Berhasil di Proses <button (click)="removeTabungan()" class="btn btn-danger pull-right">Ubah Data</button>
                </div>
              </div>
            </div>
            <div [hidden]="!(jenissimpanan || jenisdeposito || jenistabungan || jenispinjaman || jenisinventaris || jenishutang)" class="form-group row">
              <label for="neraca" class="col-sm-4 form-control-label">Neraca</label>
              <div *ngIf="!neraca" class="col-sm-8">
                <input #fileUpload class="form-control" id="neraca" type="file" (change)="onNeraca($event)">
                <span class="help-block sub-little-text">File Data Neraca </span>
              </div>
              <div *ngIf="neraca" class="col-sm-8">
                <div class="alert alert-success">
                  Data Berhasil di Proses <button (click)="removeNeraca()" class="btn btn-danger pull-right">Ubah Data</button>
                </div>
              </div>
            </div>
            <button *ngIf="neraca" class="btn btn-success pull-right" (click)="verivikasi()">Verifikasi Data</button>
          </div>
        </form>
      </ba-card>
    </div>
  </div>
</div>

<div *ngIf="neraca && balance" class="widgets">
  <div class="row">
    <div class="col-lg-12">
      <ba-card title="Komparasi Saldo" baCardClass="with-scroll table-panel">
        <div class="horizontal-scroll">
          <button *ngIf="neraca && balance" class="btn btn-success pull-right" (click)="sendData()">Kirim Laporan</button>
          <ng2-smart-table [settings]="settings" [source]="source" (deleteConfirm)="onDeleteConfirm($event)"></ng2-smart-table>
        </div>
      </ba-card>
    </div>
  </div>
</div>
