<div class="auth-main">
    <div class="auth-block">
        <h1>Login Sistem</h1>
        <div [hidden]="!massage" class="alert alert-danger">{{massage}}</div>
        <form [formGroup]="form" (ngSubmit)="onSubmit(form.value)" class="form-horizontal">
            <div class="form-group row" [ngClass]="{'has-error': (!email.valid && email.touched), 'has-success': (email.valid && email.touched)}">
                <label for="inputEmail3" class="col-sm-2 control-label">Email</label>
                <div class="col-sm-10">
                    <input [formControl]="email" type="text" class="form-control" id="inputEmail3" placeholder="Username">
                </div>
            </div>
            <div class="form-group row" [ngClass]="{'has-error': (!password.valid && password.touched), 'has-success': (password.valid && password.touched)}">
                <label for="inputPassword3" class="col-sm-2 control-label">Password</label>

                <div class="col-sm-10">
                    <input [formControl]="password" type="password" class="form-control" id="inputPassword3" placeholder="Password">
                </div>
            </div>
            <div class="form-group row">
                <div class="offset-sm-2 col-sm-10">
                    <button [disabled]="!form.valid" type="submit" class="btn btn-success btn-auth">Sign in</button>
                </div>
            </div>
        </form>
    </div>
</div>
