<div class="widgets">
    <div *ngIf="c" class="row">
      <div class="col-lg-12">
        <ba-card title="Edit Kodepos" baCardClass="with-scroll">
          <div class="form-group">
            <label>ID KODE POS</label>
            <input [ngModel]="c.id_kode" disabled class="form-control" type="text" >
          </div>
          <div class="form-group">
            <label>ID KELURAHAN</label>
            <input [(ngModel)]="c.id_kel" class="form-control" type="text" >
          </div>
          <div class="form-group">
            <label>NAMA KELURAHAN</label>
            <input [(ngModel)]="c.nama_kelurahan" class="form-control" type="text" >
          </div>
          <div class="form-group">
            <label>NAMA KECAMATAN</label>
            <input [(ngModel)]="c.nama_kecamatan" class="form-control" type="text" >
          </div>
          <div class="form-group">
            <label>RES</label>
            <input [(ngModel)]="c.res" class="form-control" type="text" >
          </div>
          <div class="form-group">
            <label>NAMA KABUPATEN</label>
            <input [(ngModel)]="c.nama_kabupaten" class="form-control" type="text" >
          </div>
          <div class="form-group">
            <label>NAMA PROPINSI</label>
            <input [(ngModel)]="c.nama_propinsi" class="form-control" type="text" >
          </div>
          <button (click)="simpan()" class="btn btn-primary">Simpan</button>  <button (click)="cancel()" class="btn btn-primary">Cancel</button>
        </ba-card>
      </div>
    </div>
    <div *ngIf="!c" class="row">
        <div class="col-lg-12">
            <ba-card title="Data Master Kodepos" baCardClass="with-scroll table-panel">
              <div class="horizontal-scroll">
                <ng2-smart-table [settings]="settings" [source]="source" (create)="create($event)" (edit)="edit($event)" (delete)="delete($event)"></ng2-smart-table>
              </div>
            </ba-card>
        </div>
    </div>
</div>
