<div class="widgets">
    <div *ngIf="c" class="row">
      <div class="col-lg-12">
        <ba-card title="{{action}} Jenis Rekening" baCardClass="with-scroll">
            <div class="form-group">
              <label>ID</label>
              <input [ngModel]="c.accjenis" disabled class="form-control" type="text" >
            </div>
            <div class="form-group">
              <label>JENIS</label>
              <input [(ngModel)]="c.jenis" class="form-control" type="text" >
            </div>
            <button (click)="simpan()" class="btn btn-primary">Simpan</button>  <button (click)="cancel()" class="btn btn-primary">Cancel</button>
        </ba-card>
      </div>
    </div>
    <div *ngIf="!c" class="row">
        <div class="col-lg-12">
            <ba-card title="Data Jenis Rekening" baCardClass="with-scroll table-panel">
              <div class="horizontal-scroll">
                <ng2-smart-table [settings]="settings" [source]="source" (edit)="edit($event)" ></ng2-smart-table>
              </div>
            </ba-card>
        </div>
    </div>
</div>
